doctype html
html
  head
    script(src="/gitgraph/gitgraph.min.js")
    title #{title}
  body
    canvas(id='gitGraph')
    script.
      let data = !{JSON.stringify(data).replace(/<\//g, '<\\/')}
      console.log(data)
      let template = {
        template: "blackarrow",
        orientation: 'vertical-reverse',
        author: ""
      }
      let gitgraph = new GitGraph(template)
      let branches = {}
      for (let branch in data) {
        branches[branch] = gitgraph.branch(branch)
      }
      let branchKeys = Object.keys(branches)
      for (let i = 0; i < branchKeys.length; i++) {
        let branch = branches[branchKeys[i]]
        let commits = data[branchKeys[i]]
        for (let j in commits) {
          let commit = commits[j]
          branch.commit({
            message: commit.subject,
            author: commit.authorName,
            sha1: commit.abbrevHash,
            type: commit.abbrevParentHashes > 40 ? "mergeCommit" : null
          })
        }
      }